<!--  --><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<video id="player" controls autoplay></video>
<img id='ps_receiver'>

<canvas id="snapshot" hidden='true'></canvas>
{%for b in buttons.keys()%}
<button>{{b}}</button>
{% end %}
<script>
  var player = document.getElementById('player'); 
  var snapshotCanvas = document.getElementById('snapshot');
  var snapshotContext=snapshotCanvas.getContext('2d');
  var playerWidth=320,playerHeight=200;
  var ps_receiver=document.getElementById('ps_receiver')

  var VideoModel = "Original"
  //绑定buttons事件
  const btns=document.querySelectorAll("button").forEach(item =>{
    item.addEventListener('click',event=>{
      mode_send(item.textContent);
    })
  });
  //获取camera尺寸
  function getCameraSize(){
    playerWidth=player.clientWidth;
    playerHeight=player.clientHeight;
    snapshotCanvas.width=playerWidth;
    snapshotCanvas.height=playerHeight;
  }
  //绑定media stream 到video 上
  var handleSuccess = function(stream) {
    player.srcObject = stream;
    self.setTimeout("getCameraSize()",1000)//延时读取size
  };
 //绑定摄像头
  navigator.mediaDevices.getUserMedia({video: true}).then(handleSuccess);



  var ws = new WebSocket("{{ws_url_home}}"+"/camera-process/")
    
  class_send('PS')//标注为PS模式
   
  //建立websocket提
  ws.onopen = function() {
    console.log("建立连接")
  }

  //接收消息，导入上一帧处理后的图片，并发送此次图像
  ws.onmessage = function (evt){
    ps_receiver.src=evt.data;    //接收上一帧处理后的图片
    camera_send();    //camera数据发送
  }
  //关闭websocket提示
  ws.onclose =function(p2){
    console.log('正在关闭')
  }
   //camera数据发送
  function camera_send(){
    snapshotContext.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);    //截图
    var imgData = snapshotCanvas.toDataURL("image/jpeg",1);    //转成base64
    ws.send(JSON.stringify({"ImgData":imgData}))
  }
  //button数据发送
  function mode_send(mode){
    ws.send(JSON.stringify({"VideoModel":mode}))
  }
  //ps选择发送
  function class_send(ps_pl){
    ws.send(JSON.stringify({"PSPL":ps_pl}))
  }
  //结束连接
  function disconn(){
    ws.close();
  }
  
</script>

</body>
</html>