<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    form表单有文件上传的控件-->
<!--multipart/form-data表示保留原来数据，不进行处理-->
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        {%for b in picture_process_buttons%}
        <input type="submit" name="picturemode"  value={{b}}>
        {% end %}
        <!-- <input type="submit" value="图片上传"> -->
    </form>


</body>
</html>